
        <div class="container">
            <h1>{{ meta.title }}</h1>
            <h2>{{ meta.description }}</h2>
            <p>{{ meta.author }} - {{ meta.date_formatted }}</p>
            <p><a href="{{ site_url }}/?editor">éditeur</a></p>
            <p>{{ content }}</p>
            <p>{{ next_page }}</p>
        </div>
