<article>
    {{ content }}
    {% for page in pages("blog")|sort_by("time")|reverse if not page.hidden %}
    <div class="post">
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <p class="date">{{ page.date_formatted }}</p>
        <p class="excerpt">{{ page.description }}</p>
    </div>
    {% endfor %}
</article>
